[Unit]
Description=Lance alert-check.sh toutes les 10 min

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
